.swiper-container {width: 800px; height: 500px;} 
.swiper-slide {background-color: purple; width: 370px; height: 200px; margin-right: 60px;}
.swiper-slide-active {width: 500px !important; height: 500px !important; transition: .5s;}
.blue {background-color: blue;}
.red {background-color: red;}