body{overflow-x: hidden;}

.section1, .section3 {width: 100vw; height: 100vh;}

.section1{background-color: yellow;}

.section2{background-color: aliceblue; width: 100vw; height: 2000px; position: relative;}
.section2 .videoBox{width: 100vw; height: 100vh; background-color: blue;}
.section2 .videoBox.fixed{position: fixed; top: 0; left: 0;}
.section2 .videoBox.absolute{position: absolute; bottom: 0; left: 0;}
.section2 .videoBox .videoContainer{width: 100vw; height: 100vh; position: relative;}
.section2 .videoBox .videoContainer p{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 100px; color: white; transition: .5s;}
.section2 .videoBox .videoContainer video{position: absolute; top: 50%; transform: translateY(-50%); width: 100vw; height: 400px; object-fit: cover; transition: .5s;}

.section3{background-color: limegreen;}